/* Для маленьких экранов (телефоны landscape, маленькие планшеты) */
@media (min-width: 576px) {
    .bc-tile {
        width: calc((100% / 2) - 40px); /* 2 плитки в строке */
    }
}

/* Для средних экранов (планшеты) */
@media (min-width: 768px) {

}

/* Для больших экранов (небольшие десктопы, лаптопы) */
@media (min-width: 992px) {
    .bc-tile {
        width: calc((100% / 3) - 40px); /* 3 плитки в строке */
    }
}

/* Для очень больших экранов (большие десктопы) */
@media (min-width: 1200px) {

}

@media (min-width: 1600px) {
    .background-text {
        font-size: 13rem;
    }
}

/* Для огромных экранов */
@media (min-width: 1920px) {
    .background-text {
        font-size: 16rem;
    }

    .bc-tile {
        width: calc((100% / 4) - 40px); /* 4 плитки в строке */
    }
}
