/* max-width - ширина <= x */
/* min-width - ширина >= x */

/* Для маленьких экранов (телефоны landscape, маленькие планшеты) */
@media (max-width: 575.98px) {
    .header-img-container {
        left: 10%;
        width: 100%;
    }
    .header-bg-text {
        width: 80vw;
        font-size: 5rem;
    }

    .bc-tile {
        height: 400px;
    }
}

/* Для средних экранов (планшеты) */
@media (min-width: 576px) {
    .header-bg-text {
        width: 70vw;
        font-size: 6.8rem;
    }

    .bcc-container__left-bc-cnt-description {
        font-size: 4rem;
    }
    .el-button-circle-begin {
        width: 60%;
    }
}

/* Для больших экранов (небольшие десктопы, лаптопы) */
@media (min-width: 768px) {
    .header-bg-text {
        font-size: 8rem;
    }

    .bcc-container__left-bc-cnt {
        font-size: 12rem;
    }
    .el-button-circle-begin {
        width: 50%;
    }

    .tile-label {
        font-size: 0.9rem;
    }
    .tile-type-text {
        font-size: 0.8rem;
    }

    .footer-top-line {
        flex-direction: row;
    }
}

/* Для очень больших экранов (большие десктопы) */
@media (min-width: 992px) {
    .header-bg-text {
        font-size: 10rem;
    }
    .el-button-circle-begin {
        width: 40%;
    }

    .bc-tile {
        width: calc((100% / 2) - 40px); /* 2 плитки в строке */
    }
}

@media (min-width: 1200px) {
    .header-bg-text {
        width: initial;
        font-size: 12rem;
    }
    .bcd-container__center {
        flex-direction: row;
    }
    .bcd-container-center__left {
        width: 50%;
        height: initial;
        padding: 2% 4%;
    }
    .bcd-container-center__right {
        width: 50%;
        padding: 0;
    }
    .bcd-container-center__right-text {
        font-size: 3rem;
        margin: 2rem auto;
        padding: 0 2rem;
    }

    .bcc-container__left, .bcc-container__right {
        min-height: initial;
        height: 48vh;
    }
    .bcc-container__left-bc-cnt {
        font-size: 16rem;
    }
    .bcc-container__left-bc-cnt-description {
        font-size: 5rem;
    }
    .bcc-container__right-bc-text {
        font-size: 4rem;
    }
    .el-button-circle-begin {
        width: 25%;
    }

    .bc-tile {
        width: calc((100% / 3) - 40px); /* 3 плитки в строке */
    }
}

@media (min-width: 1600px) {
    .header-container {
        flex-direction: row;
    }
    .header__left {
        width: 63vw;
        height: 100%;
    }
    .header-img-container {
        width: initial;
    }
    .header__right {
        display: initial;
        width: 38vw;
        height: 100%;
    }
    .header-bg-text {
        font-size: 12rem;
        line-height: 9rem;
    }


    .bcc-container {
        flex-direction: row;
    }
    .bcd-container-center__right-text {
        font-size: 3.8rem;
    }
    .bcc-container__left, .bcc-container__right {
        width: 50%;
    }

}

/* Для огромных экранов */
@media (min-width: 1920px) {
    .header-bg-text {
        font-size: 17rem;
        line-height: 14rem;
    }
    .bcd-container-center__right-text {
        font-size: 4.8rem;
    }

    .tile-label {
        font-size: 0.9rem;
    }
    .tile-title {
        font-size: 1.5rem;
    }
    .tile-type-text {
        font-size: 0.9rem;
    }
}

/* Для -- экранов */
@media (min-width: 3440px) {
    .bcc-container__left, .bcc-container__right {
        min-height: initial;
        height: 30vh;
    }
    .bcd-container__center {
        min-height: 40vh;
    }
}
