/* Диагональное движение (слева сверху вправо вниз) */
@keyframes flyDiagonal {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(100vw), calc(100vh));
    }
}

/* Горизонтальное движение (слева направо) */
@keyframes flyHorizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

/* Вертикальное движение (снизу вверх) */
@keyframes flyVertical {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(100vh); /* За границу верха экрана */
    }
}

/* Диагональное движение в обратном направлении (справа сверху влево вниз) */
@keyframes flyDiagonalReverse {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(-100vw), calc(100vh));
    }
}

/* Зигзагообразное движение */
@keyframes flyZigzag {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(calc(100vw - 50px), calc(50vh - 50px));
    }
    100% {
        transform: translate(0, calc(100vh - 100px));
    }
}

@keyframes flyCircle {
    0% {
        transform: translate(100vh);
    }
    50% {
        transform: translate(50vh);
    }
    100% {
        transform: translate(-100px);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotateBall {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes jumpBall {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-15px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
}

/* Страница */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleFadeIn {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fallDown {
    0% {
        color: var(--gray-background);
    }
    40% {
        transform: translateX(-16px);
    }
    100% {
        transform: translateY(100vh);
    }
}