/* Диагональное движение (слева сверху вправо вниз) */
@keyframes flyDiagonal {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(100vw), calc(100vh));
    }
}

/* Горизонтальное движение (слева направо) */
@keyframes flyHorizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

/* Вертикальное движение (снизу вверх) */
@keyframes flyVertical {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(100vh); /* За границу верха экрана */
    }
}

/* Диагональное движение в обратном направлении (справа сверху влево вниз) */
@keyframes flyDiagonalReverse {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(-100vw), calc(100vh));
    }
}

/* Зигзагообразное движение */
@keyframes flyZigzag {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(calc(100vw - 50px), calc(50vh - 50px));
    }
    100% {
        transform: translate(0, calc(100vh - 100px));
    }
}

@keyframes flyCircle {
    0% {
        transform: translate(100vh);
    }
    50% {
        transform: translate(50vh);
    }
    100% {
        transform: translate(-100px);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}