/* Общие параметры */
body {
    background-color: var(--white-background);
    font-family: "Inter_Regular", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.left-i {
    margin-right: 4px;
    scale: 0.9;
}

.custom-cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    opacity: 0.9;
    background: url("../assets/img/logo/basketball-courts-logo.png") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: width 0.1s ease, height 0.1s ease;
    animation: rotateBall 1s linear infinite;
}
.custom-cursor.idle {
    animation-play-state: paused;
    transform: translate(-50%, -50%) rotate(0deg);
}
.custom-cursor.clicked {
    width: 30px;
    height: 30px;
    animation: jumpBall 0.5s ease-in-out infinite;
    opacity: 0.99;
}

/* Выделение мыши */
::selection {
    /*background-color: var(--dark-gray-rgb);*/
    /*color: var(--white-gray-text);*/
    background-color: var(--light-orange);
    color: var(--dark-gray-text);
}