@font-face {
    font-family: "Inter_Bold";
    src: url("../assets/fonts/Inter_Bold.ttf");
}

@font-face {
    font-family: "Inter_Medium";
    src: url("../assets/fonts/Inter_Medium.ttf");
}

@font-face {
    font-family: "Inter_Regular";
    src: url("../assets/fonts/Inter_Regular.ttf");
}