@import url(./reset.css);
@import url(./fonts.css);
@import url(./animations.css);
@import url(./variables.css);

/* Общие параметры */

body {
    background-color: var(--white-background);
    font-family: "Inter_Regular", sans-serif;
}

.fa {
    margin-right: 4px;
    scale: 0.9;
}


/* Текст */
.title-text {
    font-family: "Inter_Bold", sans-serif;
    color: var(--dark-gray-text);
    font-size: 5rem;
    line-height: 4.8rem;
}
.description-text {
    font-family: "Inter_Regular", sans-serif;
    color: var(--gray-text);
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 4rem;
}
.width-text {
    text-align: justify;
}

.background-text {
    font-family: "Inter_Bold", sans-serif;
    font-size: 10rem;
    color: var(--white-gray-text);
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    word-break: break-all;
    z-index: 1;
}


.fade-in-text {
    transform: translateX(-20px) scale(0.95);
    transition: opacity 1s linear, transform 1s ease;
    display: inline-block;
}
.fade-in-text.active {
    transform: translateX(0) scale(1);
}


/* Футер */
footer {
    background-color: var(--gray-background);
    min-height: 20vh;
}


.custom-cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    opacity: 0.9;
    background: url("../assets/img/logo/basketball-courts-logo.png") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: width 0.1s ease, height 0.1s ease;
    animation: rotateBall 1s linear infinite;
}
.custom-cursor.idle {
    animation-play-state: paused;
    transform: translate(-50%, -50%) rotate(0deg);
}
.custom-cursor.clicked {
    width: 30px;
    height: 30px;
    animation: jumpBall 0.5s ease-in-out infinite;
    opacity: 0.99;
}
