:root {
    /* Цвета */
    --gray-background: #dfdfdf;
    --white-background: #ebebeb;
    --white-gray-text: #ebebeb;
    --light-gray-text: #d1d1d1;
    --gray-text: #b4b4b4;
    --dark-gray-text: #3c3c3c;
    --dark-gray-rgb: rgba(60, 60, 60, 0.9);
    --orange: #FFAE42;
    --light-orange: #FF8243;

    /* Градиенты */
    --linear-gradient-gray: linear-gradient(to bottom, var(--gray-text) 0%, var(--light-gray-text) 50%, var(--gray-background) 100%);
    --linear-gradient-gray-orange: linear-gradient(to bottom, var(--gray-text) 0%, var(--light-gray-text) 50%, var(--light-orange) 100%);

    /* Тени */
    --top-box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.2);
    --bottom-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2);

    /* Радиусы */
    --border-radius: 16px;

}

/* Выделение мыши */
::selection {
    /*background-color: var(--dark-gray-rgb);*/
    /*color: var(--white-gray-text);*/
    background-color: var(--light-orange);
    color: var(--dark-gray-text);
}